.foto-perfil{
    height: 100%;
    width: auto;
    max-width: 30%;
    border-radius: 50%;
    }
    .background {
      background: rgb(226,38,38);
      background: linear-gradient(90deg, rgba(226,38,38,0.8603816526610644) 0%, rgba(235,234,234,1) 49%, rgba(36,218,216,0.86) 100%);
    }
    .corHeading {
      background-color: rgb(0, 0, 0);
      color: aliceblue;
    }
    p {
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: black !important;
      margin-bottom: 0;
    }
    .icones {
      padding-left:5px ;
    }

    .tituloBrancos {
      text-decoration: underline;
      text-underline-position: below;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
    }
    .tituloPretos {
      text-decoration: underline;
      text-underline-position: below;
      text-transform: uppercase;
      font-weight: 700;
      color: black ;
    }
    .tam-card {
      height: 400px;
    }
    .jumbotron {
      margin-bottom: 0;
    }
    .lead{
      margin-bottom: 0;
      text-underline-position: below;
      text-transform: uppercase;
      font-weight: 700;
      color: black ;
    }
    html {
      scroll-behavior: smooth;
    }

    .foto-perfil-depoimento {
      height: 100%;
      width: auto;
      max-width: 9%;
      border-radius: 50%;
    }
    .Depoimentos {
      text-underline-position: below;
      font-weight: 700;
      color: black ;
    }

    .banner {
    overflow: hidden;
    }

    .banner .sliders {
      width: 100vw;
      
        }
    .banner .slide {
      width: 50vw;
      display: inline-block;
      
    }
    .banner .slidearea {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }

    .scrollbutton {
      width: 40px;
      height: 40px;
      border-radius: 15px;
      
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 999;
      cursor: pointer;
      display: none;
      
    }